**/__pycache__/*
.env
*.slurm
logs/*
.vscode/*
dataset_construction/data/*
dataset_construction/Touche23-ValueEval/data/*
dataset_construction/value_bench/data/*

*.out
*.err
dataset_construction/Touche23-ValueEval/data/