**/__pycache__/*
.env
*.slurm
logs/*
.vscode/*
**/data/**
dataset_construction/Touche23-ValueEval/data/touche_dataset_negative_answer-gemma4.csv
dataset_construction/Touche23-ValueEval/data/touche_dataset_negative_answer-old.csv
dataset_construction/data/debug/*
*.out
*.err
dataset_construction/Touche23-ValueEval/data/