# Environments / IDEs
.env
.vscode/
.cursor/

# Python / Models
**/__pycache__/
*.pt

# Logs / Outputs
*.slurm
*.out
*.err
*.log
**/logs/
**/results/

# Data
*.csv
dataset_construction/data/
dataset_construction/Touche23-ValueEval/data/
dataset_construction/value_bench/data/

# Experiment outputs / Checkpoints
CAA/Geometry/outputs/
SAE/outputs/
SAE/sae_models/
SAE/SparseCAA/outputs/
llm-steering-opt/steering_results/